
body {
  background-color: #f0f0f0;
  color: #333; 
  font-family: Arial, sans-serif;
}

h1 {
  color: #4e4e4e;
  text-align: center;
  font-size: 2em;
  margin-bottom: 20px;
}

.form-label {
  color: #555; 
}

.form-control {
  background-color: #e0e0e0;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  margin-bottom: 15px; 
}

.form-control:focus {
  border-color: #7e1616; 
  background-color: #fff;
}

.btn-primary {
  background-color: #7e1616; 
  border-color: #7e1616; 
  color: white; 
  padding: 10px 20px;
  border-radius: 5px; 
}

.btn-primary:hover {
  background-color: #9c2626; 
  border-color: #9c2626;
}

 
.btn-primary {
  background-color: #7e1616; 
  border-color: #7e1616; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #888; 
  border-color: #888; 
}

.container {
  padding: 30px; 
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}


a {
  text-decoration: none; 
  color: #7e1616; 
  font-weight: bold;
}

a:hover {
  color: #9c2626;
}