
body {
  background-color: #f0f0f0;
  color: #333; 
  font-family: Arial, sans-serif;
}

/* تنسيق الـ Navbar */
.navbar {
  background-color: #7e1616; /* خلفية حمراء */
}

.navbar .navbar-brand {
  color: #7a2828; /* نص أبيض */
  font-weight: bold;
}

.navbar .nav-link {
  color: #7a2828; /* روابط بيضاء */
}

.navbar .nav-link:hover {
  color: #682318; /* تغيير اللون عند التمرير */
}

.navbar .form-control {
  background-color: #7a2828;
  border: 1px solid #ddd;
}

.navbar .btn-outline-success {
  color: #7a2828;
  border-color: #fff;
}

h1 {
  color: #4e4e4e; 
  text-align: center; 
  font-size: 2em;
  margin-bottom: 20px;
}


.text-center img {
  max-width: 100%; 
  height: auto; 
  margin-bottom: 30px; 
}


.card {
  background-color: #fff;
  border-radius: 10px; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  margin-bottom: 20px; 
}


.card-title {
  color: #7e1616;
}

.card-text {
  color: #333; 
}


.btn-primary {
  background-color: #7e1616; 
  border-color: #7e1616; 
  color: white; 
  padding: 10px 20px; 
  border-radius: 5px; 
}

.btn-primary:hover {
  background-color: #9c2626; 
  border-color: #9c2626;
}

.btn-secondary {
  background-color: #666; 
  border-color: #666; 
  color: white; 
  padding: 10px 20px;
  border-radius: 5px;
}

.btn-secondary:hover {
  background-color: #888; 
  border-color: #888;
}


.container {
  padding: 30px;
  background-color: #fff; 
  border-radius: 10px; 
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1); 
}

a {
  text-decoration: none;
  color: #7e1616; 
  font-weight: bold;
}

a:hover {
  color: #9c2626; 
}
